@model IEnumerable<WinnersIndexVM>

<h3>All Winners</h3>
<table>
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                    Player
                </a>
            </th>
            <th>Winning Hand</th>
            <th>Description</th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">
                    Date
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var winner in Model)
        {
            <tr>
                <td>@winner.Name</td>
                <td>@Html.Raw(@winner.HTMLSHS)</td>
                <td>@winner.HandDescription</td>
                <td>@winner.Date</td>
            </tr>
        }
    </tbody>
</table>
<hr />